version: 2.1
orbs:
  lucos: lucos/deploy@0

jobs:
  test:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm i
      - run:
          name: Run Tests
          command: npm test
      - store_artifacts:
          path: coverage

workflows:
  version: 2
  test-publish:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
      - lucos/release-npm:
          requires:
            - test
